.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.836);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.contenedorModal{
    width: 40rem;
    min-width:20rem;
    min-height: 30rem;
    background: #fff;
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, .5);
    padding: 1.2em;
}

.headerModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.h3title{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(40, 11, 95);
}

.btnClose{
    position: absolute;
    top: 3em;
    right: 3em;
    width:2em;
    height: 2em;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 1rem;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnClose:hover{
    color: white;
    background-color: rgb(48, 16, 100);
}

.iconClose{
    width: 2rem;
    height: 2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-none {
    display: none;
  }